# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
*.iws
.vscode/
.settings/
.classpath
.project

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Ambiente local
.env
.env.local

# LocalStack / Docker volumes locais
infrastructure/localstack/volume/
