# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
*.iws
.vscode/
.settings/
.classpath
.project

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Ambiente local
.env
.env.local

# LocalStack / Docker volumes locais
infrastructure/localstack/volume/

# Terraform
infrastructure/terraform/**/.terraform/
infrastructure/terraform/**/*.tfstate
infrastructure/terraform/**/*.tfstate.*
infrastructure/terraform/**/*.tfvars
!infrastructure/terraform/**/*.tfvars.example
infrastructure/terraform/**/backend.hcl
infrastructure/terraform/**/crash.log
